body {
    background-color: antiquewhite;
    margin: 0;
}

.topbar {
    background-color: #40B0F4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.topbar h1{
    text-align: center;
    color: #400000;
}

.dropdown{
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}

.dropdown a, .dropdown button {
    text-decoration: none;
    color: #400000;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    padding: 8px 8px;
    background-color: #55C0FF;
    border-width: 0;
    margin-left: 0;
    margin-right: 0;

    display: block;
}

.dropdown a:hover, .dropdown button:hover {
    background-color: #c0c0ff;
}

.dropdown .dropdowncontent{
    display: none;
    position: absolute;
}

.dropdown:hover .dropdowncontent{
    display: block;
}

.headerbuffer{
    height: 6em;
    margin-bottom: 2em;
}

.topbartime{
    position: absolute;
    top: 16px;
    right: 16px;
    max-width: 20%;
    text-align: right;
}

/* Context styles */
.content img{
    max-height: 500px;
    max-width: 700px;
    border: 1px solid black;
    border-radius: 10px;
}

.content {
    margin: 32px;
}

.content section {
    margin-top: 64px;
}

.content iframe{
    margin-left: 10%;
    width: 80%;
    height: 13em;
}

#ohno {
    color: antiquewhite;
}


/* general add-ons */
.secretlink {
    cursor: pointer;
}

.secretlink:hover {
    color: #300000;
}

.secret {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #00000080;
    z-index: 50;
}

.secret section {
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin: 20%;
    width: 60%;
    padding: 5%;
    background-color: cornsilk;
}

.blotter {
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

/* technical */
.hidden{
    display: none;
}