{% extends 'ut/base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

<div id="secret1" class="secret">
    <section>
        <p>
            5. I have seen many residents head west toward Elko.
            None ever travel east. No local has ever been to Salt Lake City.
            Each of them has a lot to say about it.
        </p>
    </section>
</div>

<div id="secret2" class="secret">
    <section>
        <p>
            2. The mechanic has a picture of a man who looks just like him on his wall. His father,
            according to him. I met him again yesterday. He introduced himself as the mechanic’s
            son. The same man walked through the door of the cafe. The first one, the one I was
            talking to, waved him over and introduced him as his brother. They both ordered
            their coffee black.
        </p>
    </section>
</div>

<h1>Error 404</h1>
<h2>The site <span class="secretlink" data-secret="secret1">you</span> are <span class="secretlink" data-secret="secret2">looking</span> for does not exist.</h2>
<p>
<a href="{% url 'ut:index' %}">Go Home</a>
</p>

{% endblock %}