{% extends 'base.html' %}
{% load static %}

{% block menu %}
<div class="dropdowns">
    <div class="dropdown">
        <a href="{% url 'ut:index' %}">Home</a>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Local Biz</button>
        <div class="dropdowncontent">
            <a href="{% url 'ut:business' 'eat' %}">Where to Eat?</a>
            <a href="{% url 'ut:business' 'stay' %}">Where to Stay?</a>
            <a href="{% url 'ut:business' 'misc' %}">Misc.</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="{% url 'ut:business' 'do' %}">What to Do?</a>
    </div>
    <div class="dropdown">
        <a href="{% url 'ut:quiz' %}">Kid's Corner</a>
    </div>
</div>
{% endblock %}