{% extends 'ut/base.html' %}
{% load static %}

{% block content %}

{% if rand > 0.2 %}
<!--present day-->
    <div class='blotter'>
        <ul>
            <li>
                Wednesday, 5am MDT (Wending Blvd.): An old woman with what looked like a thigh bone
                was seen walking up the street toward the Coyote Kettle
            </li>
            <li>
                Wednesday, 7:15am PDT (KAO): A man with two children was found taking a canoe to
                the campground. There is no waterway at the KAO Campground.
            </li>
            <li>
                Wednesday, 9:25pm MDT (Graveyard): Two teens were asked to stop pouring beer
                onto Lt. Graves’s tombstone (it makes the Astroturf sticky)
            </li>
            <li>
                Wednesday, 10:05pm MDT (Dennie’s): Four fistfights broke out in the parking
                lot behind the Dennie’s. One of these fistfights only appeared to have one
                participant. They all seem to be unrelated.
            </li>
        </ul>
    </div>
{% else %}
    <!--1972-->
    <div class='blotter'>
        <ul>
            <li>
                Wednesday, 6:33pm MDT: Two long-haired youths were told to leave
                the drug store parking lot. They were yelling insults about President Nixon.
            </li>
            <li>
                Wednesday, 4:18pm PDT: Marijuana use was reported at Pickman Park.
                The only thing found in the park was what looked like goose droppings,
                but no geese were seen at the scene.
            </li>
            <li>
                Wednesday, 10:05pm MDT: A fight broke out between two youths in the parking
                lot behind Dennice’s Cafe. When asked what they were fighting about,
                the two simply shrugged.
            </li>
        </ul>
    </div>
{% endif %}

{% endblock %}