{% extends 'ut/base.html' %}
{% load static %}

{% block content %}

    <h2> {{ businessname }} </h2>

    <div id="secret1" class="secret"><section><h2>Hi am Secret! #$%^ capitalism!</h2></section></div>

    <p class="hours">
        Opens: {{ openhour | safe }},
        Closes: {{ closehour | safe }}
    </p>

    <p>
        This is an AWESOME <span class="secretlink" data-secret="secret1">business!</span>
    </p>

    <p>
        Thank you for supporting our businesses! For more information please visit our <a href="{% url 'badlink' 'chamberofcomerce' %}">Chamber of Comerce</a>
    </p>

    <script src="{% static 'ut/randtimes.js' %}"></script>
    <script src="{% static 'ut/secrets.js' %}"></script>

{% endblock %}