{% extends 'ut/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
{% endblock %}

{% block content %}
  <h2>The Bonneville Salt Flats</h2>
  <p>
    Imagine a place where the ground is whiter than Antarctica but the sky is bluer than the
    south pacific. A place where no grass can grow, where not even insects can survive.
    Imagine it is so vast, so endless that you can see the earth curve in the distance
    long before you would ever see a bend or turn in the road. This place is, of course,
    the Bonneville Salt Flats.
  </p>
  <img src="{% static 'ut/img/saltflats.jpg' %}" alt="a lone figure walking through the Bonneville Salt Flats">
  <p>
    Standing in the Bonneville Salt Flats, it becomes impossible not to think about how small
    we are against the sheer volume of the natural world. The endless white of the salt,
    looking so much like snow that your body feels cold by association, combined with a pure
    stillness broken only by the whistling sound of cars as they cascade down the highway evokes a
    sense of the sublime that cannot be properly relayed in words. There is a beauty and a madness
    to it, as if you are standing on the precipice of the end of the world. This is a place that,
    once experienced first hand, will never quite leave your mind.
  </p>
{% endblock %}