{% extends 'ut/base.html' %}
{% load static %}

{% block content %}
  <div class='activity'>
    <h2>The Wending Flats Cemetary</h2>
    <img src="{% static 'ut/img/grave.png' %}", alt="a graveyard">
    <p>If you’re looking for some fresh air, take a walk in the Wending Flat’s graveyard!
      It’s full of beautiful landscaping and a nice long walk will really get the blood pumping.
      This is also a great opportunity to immerse yourself in the history of our little town, as you’ll
      get a chance to look at the final resting place of generations upon generations of Wending Flats’s
      residents. There are walking tours available Tuesdays and Thursdays from 7pm to 12am.
    </p>
    <p>Some sites of note include:</p>
    <ul>
      <li>
        Lt. Graves, beloved police officer who served our town for 43 years. Lt. Graves was buried
        beneath the astroturf he was so passionate about introducing to our high school fields,
        and his parking sign is displayed proudly beside his tombstone.
      </li>
      <li>
        Morgan Fiatt, the famous gambler who’s win streak at the Salt Flats Casino has yet to be
        matched. They say she died during a game of poker and still managed to win the pot.
        Many gamblers and risktakers visit her final resting place to put playing cards and
        poker chips on her grave in exchange for good luck.
      </li>
      <li>
        Joseph Smith, local musician (no relation), is buried at the far end of the graveyard.
        He died only last year, after gracing this town with beautiful songs and haunting melodies
        for over 50 years. His famous banjo, Dana, is said to be buried with him. If you go
        late at night, during a full moon, you are supposed to be able to hear him still playing
        the compositions he never got to finish. According to local children, at least.
      </li>
    </ul>
  </div>
{% endblock %}