{% extends 'ut/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
{% endblock %}

{% block content %}
  <h1>The Founding Of Wending Flats</h1>
  <p>Wending Flats wasn’t so much founded by Connor Graves as it found him. Graves was a quiet man
    born in San Francisco in 1904, but when his train broke down on a journey from San Francisco
    to Salt Lake City, he fell in love with the still beauty of the desert. In 1932 he decided to
    leave everything behind to build a little cafe – the Coyote Kettle – in the middle of the
    desert, close enough to the railroad that customers would be carted right to him on the trains
    passing through. The Coyote Kettle served droves upon droves of hungry travelers, and as
    time went on a few of them just didn’t leave - and thus the town of Wending Flats was born.
  </p>
{% endblock %}