{% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static 'ut/missing.css' %}"/>
</head>

<body>

    <h1>Have You Seen This Woman?</h1>
    <p>
        Enola Gray was last seen on the evening of June 7th, 2019 leaving the Coyote Kettle.
        She is a 32 year old caucasian female, and she is supposed to be starting this fall as
        a professor of Celtic Studies at the University of Utah. Seven days before her
        disappearance, her car broke down in the middle of town, at the intersection of
        Wending Blvd and 1st street. She has been staying in the Bonneville Motel while her car
        was being repaired at McDiarmid Auto, and her possessions were found still in her room.
        Enola was last seen walking in the direction of the Bonneville Salt Flats, and witnesses
        report that she was wearing a green raincoat and a rather large silver necklace.
    </p>


    <script src="{% static 'secrets.js' %}"></script>

    <p>Please contact the Wending Flats <a href="{% url 'ut:badlink' 'policedept' %}">Police Department</a> with any information you may have.</p>

</body>

</html>
