{% extends 'ut/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'ut/quiz.css' %}"/>

    <div id="quizsecret" class="secret hidden">
        <section>
            <p> 6.The town doesn’t move on Sunday. No car’s pass through, no people can be seen
                milling about, even the wind doesn’t blow. I spent all of Sunday looking out my
                window waiting for a bird or a squirrel or even a fly to show itself. None ever
                appeared.
            </p>
        </section>
    </div>

    <div id="endquizsecret" class="secret hidden">
        <section>
            <p>
                4. People come from Salt Lake in droves to purchase weed in Nevada. I have searched
                for three days, but I can’t find a dispensary. When I ask these pilgrims, they
                look at me funny and tell me it's “just down the road, just that way.” They
                are all pointing in different directions, down different roads.
            </p>
        </section>
    </div>

    <h2>Kid's Corner<span class="secretlink" data-secret="quizsecret">!</span></h2>

   {% for question in questions %}

    <section class="question" data-weird="{{ question.is_weird }}">
        <p class="questiontext">
            {{ question.text }}
        </p>
        <ol>
        {% for answer in question.quizanswer_set.all %}
            <li>
                <button class="answer" data-correct="{{ answer.is_correct }}" data-weird="{{ answer.is_weird }}">
                    {{ answer.text }}
                </button>
            </li>
        {% endfor %}
        </ol>
    </section>

   {% endfor %}

    <section id="quizover">
        <h2>Congradulations! You earned <span id=finalscore></span> points!</h2>
    </section>
    <section id="weirdover" class="hidden">
        <p class="secretlink" data-secret="endquizsecret">Do you feel good about your answers?</p>
        <button>Yes</button>
        <button>No</button>
    </section>

    <p id="score_line">Score: <span id="scoretext"></span> Points!</p>


    <script src="{% static 'ut/quiz.js' %}"> </script>


{% endblock %}