{% extends 'ut/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'ut/quiz.css' %}"/>

    <div id="quizsecret" class="secret hidden">
        <section>
            <p>Some nights stay up wishing these walls could be a castle. Some nights I wisht they'd just fall.</p>
        </section>
    </div>

    <div id="endquizsecret" class="secret hidden">
        <section>
            <p>Part 2: Some nights stay up wishing these walls could be a castle. Some nights I wisht they'd just fall.</p>
        </section>
    </div>

    <p>Score: <span id="scoretext"></span> Points!</p>

    <h2>Kid's Corner<span class="secretlink" data-secret="quizsecret">!</span></h2>

   {% for question in questions %}

    <section class="question" data-weird="{{ question.is_weird }}">
        <p class="questiontext">
            {{ question.text }}
        </p>
        <ol>
        {% for answer in question.quizanswer_set.all %}
            <li>
                <button class="answer" data-correct="{{ answer.is_correct }}" data-weird="{{ answer.is_weird }}">
                    {{ answer.text }}
                </button>
            </li>
        {% endfor %}
        </ol>
    </section>

   {% endfor %}

    <section id="quizover">
        <h2 class="secretlink" data-secret="endquizsecret">The Quiz is Over Now</h2>
    </section>


    <script src="{% static 'ut/quiz.js' %}"> </script>


{% endblock %}