{% extends 'ut/base.html' %}
{% load static %}

{% block content %}

<div id="comingsecret" class="secret hidden">
  <section>
    <p>
      10. There is a Church of the Latter Day Saints on the corner next to my motel room.
      I have watched, but I have never seen anyone go in. I have, however, seen plenty of people
      come out. None are people I have seen around the town. </p>
  </section>
</div>

<h2>The Bonneville Motel</h2>
<p>
  Nothing describes the Bonneville Motel better than cozy. Its a sweet little motel with a rustic,
  western feeling that will make you right at home. Marnie Jones has been running this
  sweet place for over 50 years, and she has more stories to tell about this town than you
  could fill a library with!
</p>

<h2 class="secretlink" data-secret="comingsecret">More Coming Soon!</h2>
{% endblock %}