{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'style.css' %}"/>
  {% block head %}
  {% endblock %}
</head>

<body>
    {% block header %}
    <div class="topbar">
        <h1>Wending Flats, {{ state }}</h1>

        {% block menu %}
        {% endblock %}

        <p class="topbartime">
            The time in {{ state }} is currently {{ localtime }}, {{ localdate }}
        </p>

    </div>

    <div class="headerbuffer">
    </div>
    {% endblock %}


    <div class="content">
    {% block content %}

        <h1>Error</h1>

    {% endblock %}
    </div>

    {% block aftercontent %}
    {% endblock %}

    <script src="{% static 'secrets.js' %}"></script>

</body>