body {
  font-family: 'Cambria', serif;
  background-image: url('./img/highway.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.topbar {
  background-color: rgba(242, 245, 242, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  color: rgb(9, 6, 20);
}

.topbar h1, .dropdown a, .dropdown button {
  color: rgb(9, 6, 20);
}

.dropdown{
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  border-left: 1px solid rgb(59, 59, 59);
}

.dropdown a, .dropdown button {
  text-decoration: none;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  padding: 8px 8px;
  background-color: rgb(240, 240, 240);
  border-width: 0;
  margin-left: 0;
  margin-right: 0;

  display: block;
}

.dropdown > a, .dropdown > button {
  background-color: rgba(240, 240, 240, 0);
}

.dropdown a:hover, .dropdown button:hover {
  background-color: rgb(250, 250, 250);
}

.biz_cards {
  display: flex;
  align-content: space-between;
  margin-top: 10%;
  flex-wrap: wrap;
}

.biz {
  background-color: rgb(245, 245, 245, 0.7);
  width: 600px;
  height: fit-content;
  padding: 2px;
  margin: 10px 10px;
  border-radius: 10px;
}

.biz_info {
  display: none;
  padding: 20px;
}

.biz img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.biz:hover .biz_info {
  display: block;
}

#home_nv {
  margin-top: 20%;
}

#home_nv, .biz {
  text-align: center;
}

#home_nv h1{
  font-size: 50pt;
  color: rgb(220, 236, 234);
  font-style: italic;
}

footer {
  color: beige;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(32, 115, 148);
}

#about, .event_wrap{
  background-color: rgb(208, 208, 216);
  padding: 20px;
  max-width: 800px;
  margin: auto;
  margin-top: 5%;
  opacity: 80%;
  border: 2px solid rgb(76, 103, 133);
  border-radius: 20px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
}

#gallery .pic{
  margin: 10px;
  background-color: rgb(208, 208, 216);
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
}

#gallery img{
  max-height: 500px;
  max-width: 500px;
  padding: 5px;
}

.secret, .dropdown {
  position: relative;
  z-index: 10;
}

#fey {
  background-image: url('./img/starry.jpeg');
  background-attachment: fixed;
  color: whitesmoke;
  padding: 20%;
  width: 70%;
  height: 70%;
}

.pic:hover img{
  background-color: rgb(232, 232, 240);
}