{% extends 'nv/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'nv/style.css' %}"/>
{% endblock %}

{% block content %}
<div class='biz_cards'>
  <div class='biz'>
    <h2>Caoimhe’s Fine American Steakhouse</h2>
    <img src="{% static 'nv/img/steakhouse.jpg' %}" alt="a stakehouse">
    <div class='biz_info'>
      <p class='adress'>5219 Wending Blvd</p>
      <p></p>
    </div>
  </div>
  <div class='biz'>
    <h2>The Salt Mine Diner</h2>
    <img src="{% static 'nv/img/diner.jpg' %}" alt="a diner">
    <div class='biz_info'>
      <p class='adress'>5219 Wending Blvd</p>
      <p>
        The Salt Mine is a classic, 50s style diner the will make you feel like you've
        stepped into the past.
      </p>
    </div>
  </div>
  <div class='biz'>
    <h2>Belladonna</h2>
    <div class='biz_info'>
      <p class='adress'>4846 Wending Blvd</p>
      <p>Belladonna offers a fresh twist on classic Italian cuisine.</p>
    </div>
  </div>
  <div class='biz'>
    <h2>El Verano</h2>
    <div class='biz_info'>
      <p class='adress'>5304 Wending Blvd</p>
      <p>El Verano specializes in authentic Mexican dishes.</p>
    </div>
  </div>
</div>
{% endblock %}