{% extends 'nv/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'nv/style.css' %}"/>
{% endblock %}

{% block content %}
  <h2>Seasonal Events</h2>
  <div class='event'>
    <h3>NAME OF CIRCUS</h3>
    <p></p>
  </div>
  <div class='event'>
    <h3>Salt Flats Casino Grandmaster Poker Tournament</h3>
    <p>
      Do you fancy yourself to be a master poker player? Try testing your luck at
      the famous Salt Flats Casino. Or, if you don't think lady luck is dancing
      your way, just swing by to watch the masters do their work.
    </p>
    <p>Saturday June 15th, 7 PM</p>
  </div>
  <div class='event'>
    <h3>Summer Craft Fair</h3>
    <p>
      Something something local artists
    </p>
    <p>Fridays in June and July, 5 PM - 10 PM</p>
  </div>
  <div class='event'>
    <h3>The 10th Joseph Smith Music Festival</h3>
    <p></p>
  </div>

  <h2>Ongoing Events</h2>
  <div class='event'>
    <h3>NAME OF PUB CRAWL</h3>
  </div>
  <div class='event'>
    <h3>NAME OF BIKE TOUR</h3>
  </div>
{% endblock %}