{% extends 'nv/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'nv/style.css' %}"/>
{% endblock %}

{% block content %}

  <div class='event_wrap'>
    <h2>Seasonal Events</h2>
    <div class='event'>
      <h3>The Night Circus</h3>
      <p>Come one and all to see the amazing, traveling Night Circus grace the stage of the
        Salt Flats Concert Hall on their tour around the world. You wan't want to miss this
        breathtaking preformance!
      </p>
      <p>Friday June 14th, 7 PM</p>
    </div>
    <div class='event'>
      <h3>Salt Flats Casino Grandmaster Poker Tournament</h3>
      <p>
        Do you fancy yourself to be a master poker player? Try testing your luck at
        the famous Salt Flats Casino. Or, if you don't think lady luck is dancing
        your way, just swing by to watch the masters do their work.
      </p>
      <p>Saturday June 15th, 7 PM</p>
    </div>
    <div class='event'>
      <h3>Summer Craft Fair</h3>
      <p>
        During these sweet summer months, artists are invited from all over Nevada
        and Utah to share their work with our city. Come to see some unbelivable pieces
        you wouldn't find anywere else!
      </p>
      <p>Fridays in June and July, 5 PM - 10 PM</p>
    </div>
    <div class='event'>
      <h3>The 10th Joseph Smith Music Festival</h3>
      <p>Named for the late, great folk musician, this one of a kind festival is
        truly something worth waiting all year for.
      </p>
      <p>June 20st - 22nd</p>
    </div>
  </div>

{% endblock %}