{% extends 'nv/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'nv/style.css' %}"/>
{% endblock %}

{% block content %}

  <div id='enola' class='secret hidden'>
    <section>
    <h2>Hi am Enlona</h2>
    <p>Am smart woman do smart things went out on flats to run oops here they are.</p>
    </section>
  </div>

  <div id='gallery'>
    <div class='pic'>
      <img src="{% static 'nv/img/craps.jpg' %}" alt="a lively game of craps">
    </div>
    <div class='pic' >
      <img class='secretlink' data-secret='enola' src="{% static 'nv/img/enola.jpg' %}" alt="a picture of enola grey at a bar">
    </div>
    <div class='pic'>
      <img src="{% static 'nv/img/drag.jpg' %}" alt="a highway going through a small town">
    </div>
    <div class='pic'>
      <img src="{% static 'nv/img/saltylove.jpg' %}" alt="a couple in a tux and wedding dress on the salt flats">
    </div>
    <div class='pic'>
      <img src="{% static 'nv/img/coyboy.jpg' %}" alt="a neon sign that looks like a coyboy">
    </div>
    <div class='pic'>
      <img src="{% static 'nv/img/concert.jpg' %}" alt="a colorful concert">
    </div>
    <div class='pic'>
      <img src="{% static 'nv/img/married.jpg' %}" alt="a man hugging what appears to be a statue">
    </div>
  </div>
{% endblock %}