{% extends 'nv/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'nv/style.css' %}"/>
{% endblock %}

{% block content %}
  <div class='biz'>
    <h2>The Salt Flats Casino</h2>
    <div class='biz_info'>
      <p class='adress'>5219 Wending Blvd</p>
      <p></p>
    </div>
  </div>
  <div class='biz'>
    <h2>The Pepperhill</h2>
    <div class='biz_info'>
      <p class='adress'>5093 Wending Blvd</p>
      <p></p>
    </div>
  </div>
  <div class='biz'>
    <h2>NAME OF CASINO</h2>
    <div class='biz_info'>
      <p class='adress'>5304 Wending Blvd</p>
      <p></p>
    </div>
  </div>
  <div class='biz'>
    <h2>NAME OF CASINO</h2>
    <div class='biz_info'>
      <p class='adress'>4846 Wending Blvd</p>
      <p></p>
    </div>
  </div>
{% endblock %}