{% extends 'nv/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'nv/style.css' %}"/>
{% endblock %}

{% block content %}
  <div class='biz_cards'>
    <div class='biz'>
      <h2>The Salt Flats Casino</h2>
      <img src="{% static 'nv/img/casino2.jpg' %}" alt="a casino">
      <div class='biz_info'>
        <p class='adress'>5219 Wending Blvd</p>
        <p>
          The first casino to open up in Wending Flats, the Salt Flats Casino has defined and
          enriched our town's sense of fun and adventure.
        </p>
      </div>
    </div>
    <div class='biz'>
      <h2>The Pepperhill</h2>
      <img src="{% static 'nv/img/pepperhill.jpg' %}" alt="a neon sign that says pepperhill">
      <div class='biz_info'>
        <p class='adress'>5093 Wending Blvd</p>
        <p>
          The atmosphere is so enthralling that you'll hardly notice how long you've
          spent here.
        </p>
      </div>
    </div>
    <div class='biz'>
      <h2>Tara Resort</h2>
      <img src="{% static 'nv/img/casino.jpg' %}" alt="a casino">
      <div class='biz_info'>
        <p class='adress'>5304 Wending Blvd</p>
        <p>
          This casino resort perfectly blanances the clam of self care and pampering
          with the thrill of the dice.
        </p>
    </div>
    </div>
    <div class='biz'>
      <h2>Black Lagoon</h2>
      <img src="{% static 'nv/img/blackjack.jpg' %}" alt="a casino">
      <div class='biz_info'>
        <p class='adress'>4846 Wending Blvd</p>
        <p>The wildest nightlife between Elko and Salt lake!</p>
      </div>
    </div>
  </div>
{% endblock %}