{% extends 'nv/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'nv/style.css' %}"/>
{% endblock %}

{% block content %}
  <div class='biz_cards'>
    <div class='biz'>
      <h2>The Eckles Golf Course</h2>
      <img src="{% static 'nv/img/golf.jpg' %}" alt="golf course">
      <div class='biz_info'>
        <p class='adress'>398 Liberty Drive</p>
        <p>
          Come to this lush, green oasis in the nevada desert to participate in
          Wending Flat's second game of choice</p>
      </div>
    </div>
    <div class='biz'>
      <h2>Salt Flats Concert Hall</h2>
      <img src="{% static 'nv/img/concerthall.jpg' %}" alt="a big concert">
      <div class='biz_info'>
        <p class='adress'>5219 Wending Blvd</p>
        <p>
          From circus profomances to broadway musical to the biggest and the newest names
          in music, the only guarantee at the Salt Flats Concert hall is that it will
          take your breath away.
        </p>
      </div>
    </div>
    <div class='biz'>
      <h2>KAO Campground</h2>
      <img src="{% static 'nv/img/koa.jpg' %}" alt="campground">
      <div class='biz_info'>
        <p class='adress'>34 South Dover St</p>
        <p>
          Located just at the edge of the city limits, this campground is the perfect place
          to experience the majesty of the Nevada desert without being more than a 10 minute
          walk from the heart of the town.
        </p>
      </div>
    </div>
    <div class='biz'>
      <h2>White Lily Spa</h2>
      <img src="{% static 'nv/img/spa.jpg' %}" alt="woman with rocks on her back">
      <div class='biz_info'>
        <p class='adress'>5219 Wending Blvd</p>
        <p>
          With all the excitment our little city has to offer, it's always a good idea
          to take some time to relax. The White Lily Spa will help you atain an otherworldly
          calmness.
        </p>
      </div>
    </div>
  </div>
{% endblock %}