{% extends 'nv/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'nv/style.css' %}"/>
{% endblock %}

{% block content %}
  <div class='biz_cards'>
    <div class='biz'>
      <h2>NAME OF GOLF COURSE</h2>
      <div class='biz_info'>
        <p class='adress'>398 Liberty Drive</p>
        <p></p>
      </div>
    </div>
    <div class='biz'>
      <h2>Salt Flats Concert Hall</h2>
      <div class='biz_info'>
        <p class='adress'>5219 Wending Blvd</p>
        <p></p>
      </div>
    </div>
    <div class='biz'>
      <h2>KAO Campground</h2>
      <div class='biz_info'>
        <p class='adress'>34 South Dover St</p>
        <p>
          Located just at the edge of the city limits, this campground is the perfect place
          to experience the majesty of the Nevada desert without being more than a 10 minute
          walk from the heart of the town.
        </p>
      </div>
    </div>
    <div class='biz'>
      <h2>NAME OF SPA</h2>
      <div class='biz_info'>
        <p class='adress'>5219 Wending Blvd</p>
        <p></p>
      </div>
    </div>
  </div>
{% endblock %}